*{
    margin: 0;
    padding: 0;
}
.header img {
    height: 57px;
    width: 189px;
    margin-top: 52px;
    margin-left: 6px;
    padding-right: 250px;
}
.header{
    padding-bottom: 100px;
    background-color: aqua;
    align-items: center;
    margin-left: 65px;
   background: url('https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq');
   background-position: right;
   background-repeat: no-repeat;
   background-size: 543px 582px;
   
}
.header a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 50px;  
}
.header a:hover {
color: #fc8019;

}

.header button{
    margin-top: 45px;
    padding: 12px 28px;
    border: none;
    background-color: black;
    color: white;
    font-weight:700;
    font-size:15px;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
}
.header button:hover{
    cursor: pointer;
}
.gamenight{
    margin-top: 60px;

}
.gamenight h1{
 font-size: 40px;
 color: rgb(53, 51, 51);
}
.gamenight h2{
    padding-top: 10px;
    padding-left: 7px;
    color: gray;
    padding-bottom: 40px;
}

  
 .f1 input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style:hidden;
    background-color:white;
    margin-left: 20px;
    height: 64px;
    
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    font-weight: bold;
   margin-left: 10px;
    font-size: medium;
}
.form{
    display: flex;  box-sizing: border-box;
    width: 685px;
    height: 66px;
    border: 1px solid #969696;
   
    margin: 10px;
  
}
button.b1 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:white;
    color: gray;
    width: 150px;
}
button.b2 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #fc8019;
    font-size: large;
    width: 155px;
  
}
.popcities{
    color: #969696;
    padding-top: 20px;
    padding-left: 10px;
}
.popcities h5{
    font-weight: 900;

    font-size: small;
    
}
.imgbox2 img{
    width: 100%;
}

.imgbox3 img{
    margin-top: -297px;
   margin-left: 600px;
    width: 400px;
    height: 500px;
    
}
.imgbox4 img{
    margin-top: -424px;
    margin-left: 949px;
    width: 400px;
    height: 500px;
    
}
.mobbox h1{
    margin-left: 70px;
    margin-top: 140px;
    font-size:  2.5em;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;

}
.mobbox p{
    margin-left: 70px;
    margin-top: 20px;
    color: #969696;
    font-size: 1.3em;

}
.imgbox5 img{
    margin-top: -44px;
    margin-left: 65px;
    width: 170px;
    height: 50px;
}
.imgbox5 {
    margin-top: -195px;
}
.imgbox5:hover{
cursor: pointer;
}
.imgbox6:hover{
    cursor: pointer;
    }
.imgbox6 {
    margin-top: -180px;
}
.imgbox6 img{
    margin-top: 126px;
    margin-left: 255px;
    width: 170px;
    height: 50px;
}
.btmlinks{
    background-color:black;
    color: beige;
    margin-top: 173px;
   padding-bottom: 10px;
    line-height: 40px;
    width: 100%;
    padding-top: 70px;
    justify-content: space-between;

}
.innerlinks {
    margin-left: 75px;
    display: flex;
    gap: 113px;
   
}
.innerlinks img{
    width: 150px;
    height: 70px;
    margin-top: -32px;
}
.imgbox7{
    margin-top: 40px;
    margin-left: 50px;
    width: 150px;
}
.imgbox8{
    margin-top: 145px;
    margin-left: -265px;
    width: 150px;
}
.innerlinks h3{
    color: #969696;
    padding-bottom: 25px;
}
.innerlinks li{
    list-style-type: none;
}
.innerlinks li:hover{
    transform: scale(1.03);
    color: white;
}
.footer{
   padding-top: 20px;
   padding-left: 70px;
    background-color: black;
}
.footerinner{
    display: flex;
    justify-content: space-between;
}
.followbtns img{
    padding-left: 30px;
}
.followbtns{
    padding-right: 97px;
}
.imgbox7:hover {
    transform: scale(1.02);
    transition: transform .4s;
}
.imgbox8:hover {
    transform: scale(1.02);
    transition: transform .4s;
}